{%extends "blog/base.html"%}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {%csrf_token%} <!--A kind of security tag that is required or else the form won't work-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Git Remove "{{object.title}}"?</h2>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id%}">No, Keep it</a>
                </div>
            </fieldset>
        </form>
    </div>
{%endblock content%}
 