{%extends "blog/base.html"%}
{% load crispy_forms_tags %} <!--loading the crispy form tags-->
{%block content%}
    <div class="content-section">
        <form method="POST">
            {%csrf_token%} <!--A kind of security tag that is required or else the form won't work-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Commit your Thoughts</legend>
                {{ form|crispy }} 
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </fieldset>
        </form>
    </div>
{%endblock content%}
 